@import url("/static/css/style.css") root;
*{
  overflow-y: hidden;
  overflow-x: hidden;
}
#ayuda{
    margin-left: 95% !important;
    font-size: x-large !important;
    color:var(--color1-donedeal) ;
   transition: all 15ms;
 }
 #ayuda:hover{
     color:var(--color2-donedeal) ;
 }
 .navbar{
    margin-bottom: 5%;
 }
.card{
    width: 55rem !important;
    height:28rem !important;
    margin: 0 auto;
    margin-top: 1%;
    margin-bottom: 5%;
    text-align: center;
    box-shadow:  .05px 0.5px 10px var(--color1-donedeal) ;
    }

#invalidCheck3{
    margin-left: 26% !important;
}
#terminos{
    margin-left: -30% !important;
}